%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
{deps_dir, "deps"}.
{deps, [
  {lager, "2.0.0", {git,"git@github.com:basho/lager.git", "2.0.0"}},
  {emysql, "0.3.0", {git, "git@github.com:Eonblast/Emysql", "2f2878cc8000fb89bfa78ff38f202a1a02220c63"}},
  {worker_pool, ".*", {
    git, "git@github.com:tigertext/worker_pool.git",
    "bcc3113b98cc0d3b0b83512ea99eba94acf3298d"
  }},
  {jiffy, "0.8.2", {git, "git@github.com:davisp/jiffy.git", "0.8.2"}},
  {eredis, "1.0.5", {git, "git@github.com:wooga/eredis.git", "v1.0.5"}},
  {amqp_client, ".*", {
    git, "git@github.com:jbrisbin/amqp_client",
    "2b8c2c5a3b647fc4b4733978046305acde611a43"
  }},
  {dk_cxy, ".*", {
    git, "git@github.com:marcelog/dk_cxy.git", "f9790d107e146167f2c2d2f8f6ff4e217f6a0230"
  }}
]}.
{erl_opts, [
  {parse_transform, lager_transform},
  {lager_truncation_size, 16384},
  {src_dirs, ["src", "test"]},
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info
]}.
{xref_warnings, true}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.
