[
{safe_bunny, [
  {concurrency_limits, [
    {safe_bunny_deliver, 50000, 0} % How many "deliveries" to spawn before going inline
  ]},
  {consumers, [mysql, redis, file, ets]}, % Enable these consumers
  {producers, [mysql, redis, file, ets]}, % Order matters
  {mq, [
    {workers, 1}, % Number of connections,
    {host, "127.0.0.1"},
    {port, 5672},
    {user, "guest"},
    {pass, "guest"},
    {vhost, "/"},
    {confirm_timeout, 1000},
    {reconnect_timeout, 5000}
  ]},
  {ets, [
    {name, safe_bunny_queue_test},
    {concurrent_deliveries, 1},
    {poll_intervals, [10, 50]},
    {maximum_retries, 10000}
  ]},
  {file, [
    {directory, "/tmp/safe_bunny_queue_test"},
    {concurrent_deliveries, 1},
    {poll_intervals, [10, 50]},
    {maximum_retries, 10000}
  ]},
  {redis, [
    {host, "127.0.0.1"},
    {port, 6379},
    {db, 0},
    {key_prefix, "safe_bunny_test"},
    {producer_connections, 1},
    {concurrent_deliveries, 1},
    {poll_intervals, [10, 50]},
    {maximum_retries, 10000}
  ]},
  {mysql, [
    {host, "127.0.0.1"},
    {port, 3306},
    {user, "root"},
    {pass, "pass"},
    {db, "safe_bunny_queue_test"},
    {table, "items"},
    {producer_connections, 1},
    {concurrent_deliveries, 1},
    {poll_intervals, [10, 50]},
    {maximum_retries, 10000}
  ]}
]},
{lager, [
  {colored, true},
  {handlers, [
    {lager_console_backend, [
      debug,
      {lager_default_formatter, [
        color, date, "T", time, " [", severity, "] ", module, ":", line, ":", function,
        " - ", message, "\e[0m\n"
      ]}
    ]}
  ]}
]}
].
